	*{

margin:0;
padding:0;
font-family: tahoma;
}
.background--header{
display:block;
background-image: url("../img/top-background.jpg");
background-size:100% 100%;
}
.main{
	
	
}
.logo{
	display: block;;
	float:left;
}
.menu--header{

	margin-left: 150px;
	
	float:left;
	width: 650px;
	font-size: 18px;

}
.menu--header .menu__a:hover{
border-bottom:2px solid #edbfff;
}
.wrapper{
	margin:0 auto;
	position:relative;

	}
.background{
	position:relative;
	display:block;
}

.background--description{	
	background: linear-gradient(to bottom,#775385,#36293d);
}
.background--ahead{
	background-color: rgba(0,0,0,0.5);
}
.background--ahead::before{
background-image: url("../img/arrow.png");
background-repeat: no-repeat;
position:absolute;
top:186px;
left:4%;                /* ????????*/
width:28px;
height:38px;
content:'';
display:block;
}
.background--ahead::after{
background-image: url("../img/arrow.png");
background-repeat: no-repeat;
position:absolute;
top:186px;
right: 4%;
width:28px;
height:38px;
content:'';
display:block;
transform: rotate(180deg);
}
.article{
		/*display: block;*/
	float:left;

	}
.article--description{
	position:relative;
}
.article--description .article__text{
color:white;
font-weight:100;
}
.article--description .article__headline{
	font-size: 20px;
	color:white;
}
.article--description::before{
	position:absolute;
	left:-15%;
	top:5px;
	width:28px;
	height: 28px;
	background-image: url("../img/about-sprite.png");
	content:'';
}
.article--description:nth-of-type(2)::before{
background-position: 28px 0px;
}
.article--description:nth-of-type(3)::before{
background-position: 57px 0px;
}
.article--description::after{
position:absolute;
bottom:-50px;
right:14px;
width:80px;
height: 28px;
content:'READ MORE';
font-size:13px;
font-weight: bold;
color:white;
}
.background--comment{
	background-color: #f9f9f9;

}

.article--pinguller::before{
	position:absolute;
	top:10px;
	left:-30px;
	width:52px;
	height: 53px;
	border-radius: 50%;
	background-image: url("../img/man.png");
	content:'';
}
.article--pinguller::after{
	position:absolute;
	left:170px;
	bottom:-30px;
	width:89px;
	height: 23px;
	background-image: url("../img/pinguller_after.png");
	content:'';
}
.article__headline--pink{
	color:#edbfff;
}
.article--comment .article__update::before{
     	background-image: url("../img/balls.png");
     	background-position:0px 0px;
     	content:'';
     	position:absolute;
     	left:55px;
     	width:49px;
     	height:49px;
 }
.article--comment
{
	position: relative;
}

.article--comment .article__update:nth-child(2)::before{
background-position:0px 50px;
 }
.article--comment .article__update:nth-child(3)::before{
background-position:0px 101px;
 }
.background--news{
	background-color: #ececec;
}
.article--comment::after
{
position:absolute;
content:'READ MORE HERE';
right:110px;
bottom:-10px;
font-size:13px;
font-weight: bold;
}

.footer{
	background-image: url("../img/footer-background.jpg");
}
.menu{
	display:block;
	list-style:none;
}
.menu__li{
	float:left;
	display:block;
	margin-left:1.5%;
	margin-right:1.5%;
}
.menu__a{
	color:white;
	text-decoration: none;
}
.copyrights__span{
	color:#fff;
}
.copyrights__a{
	color:#fff;
	font-weight: bold;
	text-decoration: none;
}

@media(max-width: 479px){
	header{
		height:150px;
	}
	.background--description,
	.background--comment,
	.background--news{
	padding-left:35%;	
	padding-right:35%;
	}
	.background--description{
       height:75px;
	}
    .article{
	width:100px;
	height:70px;
	}
	.article__headline{
		font-size:10px;
	}
	.article__text{
		font-size:8px;
	}
	.background--comment{
       height:200px;
	}
	.article--pinguller{
	background-color: #fff;
	height:65px;
	}
	.background--destroy,
	.article--destroy
	{
        margin:0;
		padding:0;
		width:0px;
		height:0px;
	}
	.article--destroy .article__text,
	.article--destroy .article__headline {
		font-size: 0px;
	}
	.footer{
		height:40px;
	}
}
@media(min-width: 480px)  and (max-width: 767px){
	header{
		height:200px;
		}
		.background--description,
		.background--comment,
		.background--news{
			/*padding-left:35%;*/	
		}
		.background--description{
		height:250px;
		}
		.article{
		width:300px;
		height:80px;
		}
		.article__headline{
			font-size:9px;
		}
		.article__text{
			font-size:5px;
		}
		.background--comment{
        height:250px;
	    }
		.article--pinguller{
		background-color: #fff;
		height:80px;
		}
		.background--news{
	       height:250px;
		}
	
		.footer{
			height:50px;
		}
	
}
@media (min-width: 768px)  and (max-width: 959px){
	header{
		height:320px;
	}
	.background--description,
	.background--comment,
	.background--news{
	/*padding-left:30%;*/	
	}
	.background--description{
			height:160px;
	}
	.article{
		width:150px;
		height:150px;

	}
	.article__headline{
		font-size:14px;
	}
	.article__text{
		font-size:12px;
	}
	.background--comment{
       height:400px;
	}
	.article--pinguller{
	background-color: #fff;
	height:180px;
	width:180px;
	}
	.background--news{
       height:200px;
	}
	
	
	.footer{
		height:80px;
	}
}
@media (min-width:  960px){
	.background--header{
		height:846px;
        background-image: url("../img/background--header_960px.jpg");
        background-size:100% 100%;
        background-repeat: no-repeat;
       ;
	}
	.wrapper--header{
		padding-top:70px;
		 height:208px
	}
   .menu--header{
/*   margin-left:16%;*/
  
   }
   .background--ahead{
	height:400px;
	position: relative;
    }
    .article--header{
    	position:absolute;
    	top:83px;
     width:505px;
    }
     .article--header .article__headline{
     color:#FFF;
     font-size: 35px;
     font-weight: bold;
   }
    .article__text--sliderSlogan{
     color:#edbfff;
     font-size: 25px;
     font-weight: bold;
   }
     .article--header .article__text{
     
     font-size: 20px;
     
   }
    .background--ahead .background__img:first-of-type{
    position: absolute;
	top:-20px;
	right:15%;
    }
   .background--ahead .background__img:last-of-type{
	position: absolute;
	bottom:-450px;                 /*????????????*/
	right:50%;
   }
	.background--description{
		padding-top:77px;
	height:266px;
	}
	.article--header{
		width:502px;
		color:#fff;
	}

	.article--description{
	width:250px;
	margin:0px 30px;
    }
	.article__headline{
	font-size:16px;
	}
	.article__text{
	font-size:14px;
	}
	.background--comment{
		padding-top:102px;
     height:507px;
	}
	
	.article--comment{
    width:400px;
	height:300px;
	}
	.article--pinguller{

	background-image: url("../img/wBox_960px.png");
	padding:20px;
	width:387px;
	height:252px;
	line-height: 22px;
     }
     .article--pinguller .article__headline{
	font-size: 18px;
	font-weight: bold;
     }
     .article--comment{
     padding:20px 60px;
     width:380px;
	height:234px;
	
     }
.article__update{
	padding:20px;
	margin-left: 50px;

}
	.background--news{
    height:396px;
	}
	.wrapper{
	
	width:960px;

	}
	.article--news{
	padding:97px 53px 97px 0px;
    width:260px;
	}
	.article__text--copyright{
	font-style: italic;
	color:#c5c5c5;
	}
	.footer{
	padding-top:40px;
	height:94px;
	}
	.menu--footer{

	}
	.menu__a{
		font-size: 16px;
	}

	.copyrights{
	margin-left:77%;
    }
}
	.clierfix::after{
	content:'';
	clear:both;
	display:block;
}