<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>InSports Admin</title>
	<link rel="stylesheet" href="css/style.css">
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
	<script src="js/script.js"></script>
</head>
<body>

	<div class="wrapper">
	</div>
	<footer>
	</footer>

	<script type="text/html" id="Nav">
	<ul class="nav">
		<h3 class="Main-header">

		</h3>
		<% for(var i=0;i< pages.length;i++){ %>			
			<li class="nav_item Clicable">
				<p class="nav_text"><%- pages[i].theme %></p>
			</li> 
		<% }; %>
			
	</ul>

	</script>
	<script type="text/html" id="OfferTemplate">
		<div class="imgContainer deletable OfferTemplateClass">
			<% 	for(var i=0;i< items.length;i++){ %>			
				<div class="list_item">
					<div class="list_item-header clearfix">
						<p><%- items[i].id %></p>
						<p><%- items[i].name %></p>
						<p><%- items[i].sport %> (id:<%-items[i].sportId%>)</p>
					</div>	

					<div class="list_item-content clearfix">
						<div class="list_item-content-left">
							
							<% 	for(var key in items[i]){ %>
								<%if(key !== 'people' && !(key === 'id' || key === 'sportId' || key === 'name' || key === 'sport')){%>
									<%if(key === 'offerDate'){%>
									 <p><%- key %> : <%-items[i][key][8]%><%-items[i][key][9]%>/<%-items[i][key][5]%><%-items[i][key][6]%>/<%-items[i][key][0]%><%-items[i][key][1]%><%-items[i][key][2]%><%-items[i][key][3]%> - <%-items[i][key][11]%><%-items[i][key][12]%>:<%-items[i][key][14]%><%-items[i][key][15]%></p>
									<%}else{%>
										<p><%- key %> : <%- items[i][key] %></p>
									<%}%>
								<%}%>
							<%  }; %>
						</div>
					</div>	
					<% 	for(var key in items[i]){ %>
						<%if(key === 'people'){%>
							<% for(var j in items[i][key]){%>
								<div class="personToggle clearfix Clicable">

									<p class="userText"><%- items[i][key][j].id %></p>
									<p class="userText"><%- items[i][key][j].name %></p>

									<%for(var personKey in items[i][key][j]){ %>
										<%if(personKey === 'picture'){%>
											<p class="userPhotoBlock"><img class="userPhoto" src="<%-items[i][key][j][personKey]%>"></p>
										<%}%>
							        <%}%>

									<div class="additionInfo">
										<%for(var personKey in items[i][key][j]){ %>
											<%if(personKey !== 'picture' && !(personKey === 'id' || personKey === 'name')){%>
												<%if(personKey === 'userFacebookId'){%>
													<a href="https://www.facebook.com/<%-items[i][key][j][personKey]%>"><button class="BuleButton">Go Facebook</button></a><br>
												<%}else{%>
													<p><%-personKey%>: <%- items[i][key][j][personKey] %></p>
												<%}%>
											<%}%>
								        <%}%>
									</div>
								</div>
							<%}%>
						<%}%>
					<%}%>
				</div>
			<%}; %>
		</div>
	</script>
	<script type="text/html" id="PanelUserTemplate">	
		<div class="imgContainer deletable">
			<p>Manage panel.<b>Users.</b></p><br>
			<span>Filter by name:</span><input type="text" name="filter" id="NameFilter"><br>
		</div>
	</script>
	<script type="text/html" id="UserTemplate">	
			<div class="userList imgContainer deletable">
				<% 	for(var i=0;i< items.length;i++){ %>
					<div class="personToggle clearfix Clicable">
						<p class="userText"><%-items[i].id%></p>
						<p class="userText"><%-items[i].name%></p>
						<%for(var personKey in items[i]){ %>
							<%if(personKey === 'picture'){%>
								<p class="userPhotoBlock"><img class="userPhoto" src="<%-items[i][personKey]%>"></p>
							<%}%>
				        <%}%>

						<div class="additionInfo">
							<%for(var personKey in items[i]){ %>
								<%if(personKey !== 'picture' && !(personKey === 'id' || personKey === 'name')){%>
									<%if(personKey === 'userFacebookId'){%>
										<a href="https://www.facebook.com/<%-items[i][personKey]%>"><button class="BuleButton">Go Facebook</button></a><br>
									<%}else{%>
										<p><%-personKey%>: <%- items[i][personKey] %></p>
									<%}%>
								<%}%>
					        <%}%>
						</div>
					</div>
				<%  }; %>
			</div>
		</script>
	<script type="text/html" id="SportTemplate">	
			<% for(var i=0;i< items.length;i++){ %>			
			<div class="list_item entryStyle clearfix">
					<p>
						<%- items[i].id %>
					</p>
					<p>
						<%- items[i].name %>
					</p>
					<p>
						<%- items[i].description %>
					</p>
				</div>
			<% }; %>
	</script>

	<script type="text/html" id="NewSportTemplate">
			<% for(var i=0;i< items.length;i++){ %>			
				<div class="list_item entryStyle clearfix">
					<p>
						<%- items[i].id %>
					</p>
					<p>
						<%- items[i].name %>
					</p>
					<p>
						<%- items[i].description %>
					</p>
					<button  class="addToDb GreenButton" id="<%-items[i].id%>">Accept</button>
					<button  class="Decline RedButton" name="<%-items[i].id%>">Decline</button>
				</div>
			<% }; %>
	</script>

	<script type="text/html" id="BugReportTemplate">
		<p class="imgContainer deletable">Manage panel.</p>
		<div class="imgContainer deletable">
			<% for(var i=0;i< items.length;i++){ %>			
				<div class="list_item entryStyle clearfix">
					<p>
						<%- items[i].id %>
					</p>
					<p>
						<%- items[i].name %>
					</p>
					<% if(items[i].status === true){ %>
						<p class="bug-status Actual">Actual</p>
						<button  class="Complete GreenButton" name="<%-items[i].id%>">Mark as complete</button>
					<%}else{%>
						<p class="bug-status Completed">Completed</p>
					<%};%>
				</div>
			<% }; %>
		</div>
	</script>

	<script type="text/html" id="PushTemplate">
	 	<form name="sendPush" class="sendPush deletable">
	 		<p><h3>Push message:</h3></p>
	 		<textarea name="text" style="width:50%" rows="10"></textarea> <br>
	 		<input type="radio" name="type" value="0">Всем <br>
	 		<input type="radio" name="type" value="1">Тем кто не заходил 1 месяц <br>
	 		<input type="radio" name="type" value="3">Тем кто не заходил 3 месяца  <br>
	 		<input type="radio" name="type" value="6">Тем кто не заходил 6 месяцев <br>
	 		<input type="submit" value="Send push" class=Submit>
	 	</form>
	</script>

</body>
</html>