@media (max-width: 320px)
{
	
	.header
	{
		width:320px;
		height:540px;
		background-image:url(../img/Mobile_people.jpg);	

		background-position:center 0;
		background-repeat:no-repeat;
	}

	.main
	{

			.masonry {

	-webkit-column-count: 3; -moz-column-count: 3; column-count: 3;
	-webkit-column-gap: 1em; -moz-column-gap: 1em; column-gap: 1em;
            }
	 		.masonry
			{
				//background-color:black;
				width:300px;
				min-height:900px;
				margin:0 auto;
				.item
				{	
					
					//position:relative;
				   display: inline-block; 
                   	width: 100%;           
				      min-height:100px;
				     
				
				/*    .item__text

		           {
		           	color:white;
	           		position:absolute;
	           		display:block;
	           		top:50%;
	           		left:50%;

		           }
		         */
		           	  	
	               
		         
		          
				}  
				.item:nth-of-type(2n) 
		           {
		           		height:50px;
		           }
		        .item:nth-of-type(2n+1) 
		           {
		           		height:150px;
		           }
			}
			
	}








}