@media (max-width: 320px)
{
	
	.header
	{
		width:320px;
		height:540px;
		background-image:url(../img/Mobile_people.jpg);	

		background-position:center 0;
		background-repeat:no-repeat;
	}










}